* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #000000;
}

.App {
  text-align: center;
  color: #fff;
	font-size: 37px;
	display:inline-block;
	margin-left: 35px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(160, 157, 157);
}

.App-link {
  color: #a4a5a5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cont{
  background-color: rgba(238, 238, 241, 0.938);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* min-height: 70%;
  
  
  font-size: calc(10px + 2vmin);
  color: rgb(12, 8, 231); */
}